Flask==2.0.2
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-Bcrypt==1.0.1
Flask-Migrate==3.1.0
Flask-Mail==0.9.1
Flask-CORS==3.0.10
python-dotenv==0.19.2
WTForms==2.3.3
Flask-WTF==1.0.1
itsdangerous==2.0.1
Werkzeug==2.1.2
gunicorn